<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="webページのURLからLaTeX形式の参考文献リストを出力するサイトです">
        <title>Reference-Maker</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='rogic.js')}}" defer></script>
    </head>
    <body>
        <div id="notice">{{notice.replace('\n', '<br>') | safe}}</div>
        <hr class="hr_gray">
        <div id="urls_form">
            <textarea name="input_form" cols="100" rows="10" placeholder="URLを1行ずつペーストしてください"></textarea>
        </div>
        <hr class="hr_gray">
        <div id="output_section"></div>
        <div id="copied_button">
            <button id="for_copy">コピーする</button>
        </div>
        <div id="toast" class="toast hidden">copied!</div>
    </body>
</html>